.welcome-message {
  color: black;
  width: 400px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: #fefb92;
  background: #fefb92;
}

@media (max-width: 550px) {
  .welcome-message {
    color: black;
    width: 200px;
    font-size: 1rem;
  }
}
